.container form.content-container button.confirm-button {
  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background-color: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.container form.content-container button.confirm-button:hover {
  background-color: #36CF82;
}
