.input-block.input-password {
  position: relative
}

.input-block.input-password .show-password-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: absolute;
  right: 24px;
  top: 55%;
}

.input-block.input-password .show-password-block button {
  background: none;
  border: none;
}
